main {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.selectionPanel {
    display: flex;
    padding: 0 8px;
}
.sectionSelect {
    display: flex;
    align-items: end;
    flex: 1 1 auto;
    padding: 0 40px;
}
.section {
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 24px;
    font-size: 14px;
    background-color: var(--blue);
    border-radius: 10px 10px 0 0;
    padding: 0px 20px;
    margin-right: 2px;
    box-shadow: 0 -8px 10px -10px black inset;
}
/* section Colors */
.section[data-color="blue"]{
    background-color: var(--blue);
}
.section[data-color="yellow"]{
    background-color: var(--yellow);
}
.section[data-color="green"]{
    background-color: var(--green);
}
.section[data-color="red"]{
    background-color: var(--red);
}
.section[data-color="purple"]{
    background-color: var(--purple);
}
.section[data-color="cyan"]{
    background-color: var(--cyan);
}
.section[data-color="orange"]{
    background-color: var(--orange);
}
.section[data-color="magenta"]{
    background-color: var(--magenta);
}
.section[data-color="blueMist"]{
    background-color: var(--blueMist);
}
.section[data-color="purpleMist"]{
    background-color: var(--purpleMist);
}
.section[data-color="tan"]{
    background-color: var(--tan);
}
.section[data-color="lemonLime"]{
    background-color: var(--lemonLime);
}
.section[data-color="apple"]{
    background-color: var(--apple);
}
.section[data-color="teal"]{
    background-color: var(--teal);
}
.section[data-color="redChalk"]{
    background-color: var(--redChalk);
}
.section[data-color="silver"]{
    background-color: var(--silver);
}
/* section Hover Colors */
.section:hover[data-color="blue"]{
    background-color: var(--blueHover);
}
.section:hover[data-color="yellow"]{
    background-color: var(--yellowHover);
}
.section:hover[data-color="green"]{
    background-color: var(--greenHover);
}
.section:hover[data-color="red"]{
    background-color: var(--redHover);
}
.section:hover[data-color="purple"]{
    background-color: var(--purpleHover);
}
.section:hover[data-color="cyan"]{
    background-color: var(--cyanHover);
}
.section:hover[data-color="orange"]{
    background-color: var(--orangeHover);
}
.section:hover[data-color="magenta"]{
    background-color: var(--magentaHover);
}
.section:hover[data-color="blueMist"]{
    background-color: var(--blueMistHover);
}
.section:hover[data-color="purpleMist"]{
    background-color: var(--purpleMistHover);
}
.section:hover[data-color="tan"]{
    background-color: var(--tanHover);
}
.section:hover[data-color="lemonLime"]{
    background-color: var(--lemonLimeHover);
}
.section:hover[data-color="apple"]{
    background-color: var(--appleHover);
}
.section:hover[data-color="teal"]{
    background-color: var(--tealHover);
}
.section:hover[data-color="redChalk"]{
    background-color: var(--redChalkHover);
}
.section:hover[data-color="silver"]{
    background-color: var(--silverHover);
}
.section.open {
    height: 28px;
    box-shadow: none;
}
.section.open .sectionName {
    font-weight: bold;
}
.section.add {
    height: 23px;
    background-color: var(--grey40);
    border: 1px solid var(--grey100);
    border-bottom: none;
    padding: 0px 14px;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 4px;
}
.sectionName[contenteditable="true"]:active,
.sectionName[contenteditable="true"]:focus{
    background-color: var(--grey40);
    border-top: 1px solid white;
    cursor: text;
    outline:none;
}
.sectionColorPanel {
    height: 4px;
    border-radius: 10px 10px 0 0;
}
.sectionColorPanel[data-color="blue"]{
    background-color: var(--blue);
}
.sectionColorPanel[data-color="yellow"]{
    background-color: var(--yellow);
}
.sectionColorPanel[data-color="green"]{
    background-color: var(--green);
}
.sectionColorPanel[data-color="red"]{
    background-color: var(--red);
}
.sectionColorPanel[data-color="purple"]{
    background-color: var(--purple);
}
.sectionColorPanel[data-color="cyan"]{
    background-color: var(--cyan);
}
.sectionColorPanel[data-color="orange"]{
    background-color: var(--orange);
}
.sectionColorPanel[data-color="magenta"]{
    background-color: var(--magenta);
}
.sectionColorPanel[data-color="blueMist"]{
    background-color: var(--blueMist);
}
.sectionColorPanel[data-color="purpleMist"]{
    background-color: var(--purpleMist);
}
.sectionColorPanel[data-color="tan"]{
    background-color: var(--tan);
}
.sectionColorPanel[data-color="lemonLime"]{
    background-color: var(--lemonLime);
}
.sectionColorPanel[data-color="apple"]{
    background-color: var(--apple);
}
.sectionColorPanel[data-color="teal"]{
    background-color: var(--teal);
}
.sectionColorPanel[data-color="redChalk"]{
    background-color: var(--redChalk);
}
.sectionColorPanel[data-color="silver"]{
    background-color: var(--silver);
}
.notebookSelect {
    padding: 5px 14px;
    border-radius: 4px;
    margin-bottom: 2px;
    display: flex;
    position: relative;
}
.notebookSelect:hover {
    background-color: var(--grey40);
    cursor: pointer;
}
.notebookName {
    font-size: 18px;
    flex: 0 1 auto !important;
}
.notebookCarret {
    font-size: 12px;
    flex: 0 1 auto !important;
    text-align: start;
    padding-left: 10px;
    display: flex;
    align-items: center;
}
.selectionSearch {
    display: flex;
    align-items: center;
    background-color: var(--grey50);
    border-radius: 4px;
    height: 25px;
    padding: 4px 20px;
}
.selectionSearchText {
    font-size: 13px;
}
.selectionSearchCarret {
    font-size: 10px;
    text-align: start;
    padding-left: 10px;
    display: flex;
    align-items: center;
}


.noteBar {
    display: flex;
    background-color: var(--grey10);
    flex: 1 1 auto;
}
.pageAddSort {
    display: flex;
    justify-content: space-between;
    padding: 8px 8px;
}
.addPageButton {
    color: var(--addPageButtonTextColor);
    background-color: var(--grey50);
    padding: 4px 16px;
    border-radius: 5px;
    border: 0.5px solid var(--grey100);
}
.addPageButton:hover {
    background-color: var(--grey100);
    cursor: pointer;
}
.sortPageButton {
    padding: 4px 16px;
    border: none;
    border-radius: 5px;
    outline: none;
    font: inherit;
    color: inherit;
    background: none
}
.sortPageButton:hover {
    background-color: var(--grey50);
    cursor: pointer;
    
}
.pageList {
    padding: 8px;
    padding-top: 0px;
}
.pages {
    border-radius: 3px;
    background-color: var(--grey40);
    padding: 4px 16px;
    margin-bottom: 4px;
    text-align: start;
}
.pages:hover{
    background-color: var(--grey50);
    cursor: pointer;
}
.pages.open {
    background-color: var(--grey60);
}
.pageSelect{
    flex: 3 1 15dvw;
    background-color: var(--grey40);
}
